<!DOCTYPE html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Test widget for Travel Payouts"
    />
    <title>Travel Payouts Test Widget</title>
  </head>
  <body>
    <main class="main-container">
      <h1 class="title"><%= t.title %></h1>
      <div class="inner-container">
        <p class="description"><%= t.description %></p>
        <form class="form">
          <div class="input-container">
            <div class="input-wrapper">
              <input class="input" name="depart-date" type="text" placeholder="<%= t.departDate %>" pattern="\d\d\.\d\d\.\d\d\d\d" required>
              <button class="date-picker-button date-picker-button--depart" type="button">
                <img src="<%=require('./assets/calendar.svg')%>" alt="calendar">
              </button>
            </div>
            <div class="input-wrapper">
              <input class="input" name="return-date" type="text" placeholder="<%= t.returnDate %>" pattern="\d\d\.\d\d\.\d\d\d\d" required>
              <button class="date-picker-button date-picker-button--return" type="button">
                <img src="<%=require('./assets/calendar.svg')%>" alt="calendar">
              </button>
            </div>
          </div>
          <button class="button" type="submit"><%= t.submit %></button>
        </form>
      </div>
    </main>
    <div class="date-picker"></div>
  </body>
</html>
